
<section>

  <p-panel header="Reconocimientos" [toggleable]="true" styleClass="blue-panel" >

    <p >
        -Reconocimiento en el Programa de Excelencia Ambiental PREAD, de secretaría Distrital de Ambiente
        con un puntaje de 91,8 puntos
      </p>

      <P >
        - Por medio de auditorias externas se evalua un incremento  que va de 3,33 a
          35,8 en la implementación del Sistema de Gestión Ambiental
      </P>

      <P >
        - Avaluo de la Secretaría Distrital de ambiente en la elaboración y comercialización de
        muebles para el hogar a partir de la transformación y reutilización de estibas de madera en
        desuso
      </P>
      <img class="imglogro" src="\assets\images\foto2.png" alt="Certificado BIC">
      <img class="imglogro2" src="\assets\images\trofeo1.png" alt="Certificado Acerca">
      <img class="imglogro3" src="\assets\images\foto3.png" alt="Certificado 3">

</p-panel>

</section>

<section>

  <p-panel header="¿Cómo se trabaja en recuperar materiales?" [toggleable]="true" styleClass="blue-panel2">

    <h3>Ciclo de recuperación de materiales:</h3>
    <p>
      En nuestra compañía es bastante importante la recuperación de mateeiales  para mitigación de impactos ambientales
      por ello tomamos muy enserio el ciclo de recuperación de materiales
    </p>

   <img class="ciclo" src="\assets\images\Cadena-valor.png" alt="Certificado BIC">

    <h3>Recolección:</h3>
    <p>
         La recolección de materiales es una etapa esencial en nuestro proceso de recuperación y
        transformación de materiales. Para obtener los materiales necesarios,
        nos dirigimos a diversas compañías o fábricas. Donde nos aseguramos de establecer relaciones sólidas con estas empresas,
         estableciendo acuerdos y colaboraciones para obtener los materiales de manera eficiente y sostenible.
    </p>
    <img class="reco1" src="\assets\images\reco1.png" alt="Recuperación 1">
      <img class="reco2" src="\assets\images\reco2.png" alt="Recuperación 2">

      <h3>Transporte:</h3>
    <p>
       El transporte de los materiales a nuestras fábricas es una parte importante de nuestro proceso
      de recuperación y transformación de materiales, y nos esforzamos por realizarlo de manera eficiente y
      segura para cumplir con nuestro compromiso de ofrecer productos de calidad.
  </p>

  <img class="trp1" src="\assets\images\trans1.png" alt="transp 1">
  <img class="trp2" src="\assets\images\trans2.png" alt="transp 2">
  <h3>Recuperación y Reincorporación:</h3>
  <p>
     Luego de completar el transporte de los materiales, comenzamos nuestro
     proceso de recuperación y transformación de los mismos. Este proceso es fundamental para la reutilización
      de materiales en nuestro producto final y, por ende, es una parte clave de nuestro compromiso con la
      sostenibilidad.
</p>

<img class="recu1" src="\assets\images\recu1.png" alt="recu1">
<img class="recu2" src="\assets\images\recu2.png" alt="recu1">

<h3>Aprovechamiento:</h3>
<p>
   Después de llevar a cabo el proceso de Aprovechamiento y Reincorporación de
  nuestros materiales, comienzo por la etapa de Aprovechamiento, donde transformamos nuestros materiales
  en productos finales de nuestro catálogo.
</p>
<img class="apro1" src="\assets\images\apro 1.png" alt="apro1">
<img class="apro2" src="\assets\images\apro 2.png" alt="apro2">
<img class="apro3" src="\assets\images\apro 3.png" alt="apro3">
<h3>Venta y/o Disposición Final:</h3>
<p>
   Luego de llevar todo el proceso relacionados con la recuperación y Aprovechamiento
  de todos los recursos tenemos un exclusivo y excelente catalogo de productos con materiales 100% recuperados
</p>

<img class="cat1" src="\assets\images\cat1.png" alt="cat1">
<img class="cat2" src="\assets\images\cat2.png" alt="cat2">
<img class="cat3" src="\assets\images\cat3.png" alt="cat3">
<img class="cat4" src="\assets\images\cat4.png" alt="cat4">
<img class="cat5" src="\assets\images\cat5.png" alt="cat5">
<img class="cat6" src="\assets\images\cat6.png" alt="cat6">




</p-panel>

</section>

