<div class="topnav surface-0 flex flex-row justify-content-between align-items-center flex-wrap gap-2 shadow-custom"
    [ngClass]="{
        'bg-black': tapnavVariant,
        'hide': hide
    }">

    <span class="logo flex flex-row gap-2 align-items-center py-1 cursor-pointer" routerLink="home" pTooltip="Ir a inicio" tooltipPosition="bottom">
        <img class="logoImg" src="../../../assets/images/logo-sevilla.png" alt="Logo" height="48px" width="auto">
        <span class="font-semibold text-4xl" routerLink="home">R. SAVILLA SAS BIC</span>
    </span>
    <div class="flex flex-row h-full px-2 align-items-center">
        <p-button styleClass="p-button-text p-button-rounded text-color" [icon]="'pi pi-search font-bold text-xl' + (tapnavVariant ? ' text-white' : '')"></p-button>
        <p-menubar class="app-menubar" [ngClass]="{'white-variant': tapnavVariant}"  [model]="enlaces"></p-menubar>
    </div>
</div>
