<div class="flex flex-row justify-content-between align-items-center flex-wrap gap-2 px-3 py-2 shadow-custom">
    <span class="flex flex-row gap-2 align-items-center">
        <img src="../../../assets/images/logo-sevilla.png" alt="Logo" height="48px" width="auto">
        <span class="font-semibold text-4xl">R. Sevilla</span>
    </span>
    <span class="flex flex-row gap-2 px-2 py-2">
        <span class="primary-on-hover border-round cursor-pointer hover:underline px-2 py-1" *ngFor="let enlace of enlaces" [routerLink]="enlace.routerLink" routerLinkActive="underline font-bold">{{enlace.label}}</span>
    </span>
</div>
