<div class="topnav surface-0 flex flex-row justify-content-between align-items-center flex-wrap gap-2 px-3 h-4rem shadow-custom">
    <span class="flex flex-row gap-2 align-items-center py-1">
        <img src="../../../assets/images/logo-sevilla.png" alt="Logo" height="48px" width="auto">
        <span class="font-semibold text-4xl">R. Sevilla SAS BIC</span>
    </span>
    <div class="flex flex-row h-full px-2 align-items-center">
        <ng-container *ngFor="let enlace of enlaces" >
            <app-menu-item [enlace]="enlace" class="h-full"></app-menu-item>
        </ng-container>
        
    </div>
</div>
