<div class="background">
    <main class="work-content">
        <h1>Eco-productos</h1>
        <span class="body">
        Fabricamos diferentes tipos de muebles para el hogar, entre ellos: base camas, sofás, comedores, armarios y
        otros.
        A través de la reincorporación de madera proveniente de estibas, desarrollando procesos de economía circular
        como
        nuestro proceso de valor.
    </span>
    <section class="picture-grid">
        <div class="image-wrapper shadow-image flex flex-column justify-content-between">
            <img class="about-image" src="../../assets/images/Base1.jpg" alt="Base Cama">
        </div>
        <div class="image-wrapper shadow-image flex flex-column justify-content-between">
            <img class="about-image" src="../../assets/images/Base2.jpg" alt="Armarios">
        </div>
        <div class="image-wrapper shadow-image flex flex-column justify-content-between">
            <img class="about-image" src="../../assets/images/Base3.jpg" alt="Cabeceros">
        </div>
    </section>
    <span class="body">
        A través de la reincorporación de madera proveniente de estibas, desarrollamos
        procesos de economía circular como nuestro proceso de valor, siendo reconocidos como
        negocios verdes.
    </span>

    <h1>Recuperación de materiales</h1>
    
    <span class="body">
        En la recuperación y aprovechamiento del material reciclable, contamos con
        la siguiente cadena de valor
    </span>
    <div class="flex flex-row w-full justify-content-center">
        <img class="about-image" src="../../assets/images/Cadena-valor.png" alt="cadena de Valor" style="max-width: 500px">
    </div>
</main>
</div>