.punto:hover::after {
    width: 50%; 
}

.punto::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 15%;
    background-color: black;
    
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    transition:all 0.6s ease-in-out;
    width: 0;
}

