@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kalam:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', sans-serif;
}



*, *::after, *::before {
    box-sizing: border-box !important;
}

/* Reset margin */
p {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-family);
    overflow: hidden;
}


.shadow-image {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
