.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.bg-quaternary {
    background-color: var(--quaternary-color);
}

.bg-quinary {
    background-color: var(--quinary-color);
}

.bg-primary-highligth-hover {
    &:hover {
        background-color: var(--primary-highligth);
    }
}

.caption {
    font-family: var(--font-family-secondary);
    font-size: 0.8rem;
}