.bg-secondary {background-color: var(--secondary-color);}
.bg-tertiary {background-color: var(--tertiary-color);}
.bg-quaternary {background-color: var(--quaternary-color);}
.bg-quinary {background-color: var(--quinary-color);}